<div class="padded" style="text-align: center;">
  <h1>
    ember-concurrency
  </h1>

  <h3>
    Ember NYC. Feb 25, 2016.
  </h3>

  <h4>
    Alex Matchneer -
    <a style="color: black;" href="https://twitter.com/machty">@machty</a>
  </h4>
</div>

{{!tomster-head scale=0.06 left=500  top=-20}}

{{tomster-head scale=0.3 left=10  top=140}}
{{tomster-head scale=0.3 left=140 top=140}}
{{tomster-head scale=0.3 left=320 top=140}}
{{tomster-head scale=0.3 left=500 top=140}}
{{tomster-head scale=0.3 left=680 top=140}}

{{tomster-head scale=0.45 left=-20  top=230}}
{{tomster-head scale=0.45 left=190 top=230}}
{{tomster-head scale=0.45 left=410 top=230}}
{{tomster-head scale=0.45 left=640 top=230}}

{{tomster-head scale=0.7 left=20  top=330}}
{{tomster-head scale=0.7 left=310 top=330}}
{{tomster-head scale=0.7 left=580 top=330}}

<div class="whackamole-bg"></div>

