<div class="padded">
  <h2>
    {{header}}
  </h2>

  {{code-snippet name="task-6-template.hbs"}}

  {{! BEGIN-SNIPPET task-6-template}}
  <button onclick={{perform myTask}}
          class={{if myTask.isIdle 'clickable'}}>
    Perform the Task
  </button>
  <button onclick={{cancel-all myTask}}
          class={{if myTask.isRunning 'clickable'}}>
    Cancel
  </button>
  {{#if myTask.isRunning}}
    <p>Please wait {{fa-icon "spinner" spin=true}}</p>
  {{/if}}
  {{! END-SNIPPET }}
</div>

