<div class="padded">
  <h4>
    Example: Accelerated Buttons
  </h4>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="slide-accelerator.js" class="autocomplete-example"}}
      <h4>
        {{#if incrementBy.isRunning}}
          <strong>Number: {{num}}</strong>
        {{else}}
          Number: {{num}}
        {{/if}}
      </h4>
    </div>
    <div class="six columns">
      {{code-snippet name="slide-accelerator-template.hbs" class="autocomplete-example"}}

{{! BEGIN-SNIPPET slide-accelerator-template}}
      <p>
        {{#press-and-hold-button
          press=(perform incrementBy -1)
          release=(cancel-all incrementBy)}}
            --Decrease
        {{/press-and-hold-button}}

        {{#press-and-hold-button
          press=(perform incrementBy 1)
          release=(cancel-all incrementBy)}}
            Increase++
        {{/press-and-hold-button}}
      </p>
{{! END-SNIPPET }}
    </div>
  </div>
</div>

