<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h1>
      List of Things that Suck:
    </h1>

    {{#with "1. Cleaning up after yourself via lifecycle hooks" as |header0|}}
      {{#hidden-at-first index=0}}
        <h4><strike>{{header0}}</strike></h4>
        {{#with "2. Callback heck (no <code>promise.then()</code>)" as |header1|}}
          {{#hidden-at-first index=1}}
            <h4><strike>{{{header1}}}</strike></h4>

            {{#with "3. Rolling your own cancelation scheme" as |header2|}}
              {{#hidden-at-first index=2}}
                <h4><strike>{{header2}}</strike></h4>

                {{#with "4. Manually (un)setting some variant of <code>isRunning</code>" as |header3|}}
                  {{#hidden-at-first index=3}}
                    <h4><strike>{{{header3}}}</strike></h4>

                    {{#with "5. Guards for <code>this.isDestroyed</code>" as |header4|}}
                      {{#hidden-at-first index=4}}
                        <h4><strike>{{{header4}}}</strike></h4>
                      {{else}}
                        <h4>{{{header4}}}</h4>
                      {{/hidden-at-first}}
                    {{/with}}

                  {{else}}
                    <h4>{{{header3}}}</h4>
                  {{/hidden-at-first}}
                {{/with}}
              {{else}}
                <h4>{{header2}}</h4>
              {{/hidden-at-first}}
            {{/with}}
          {{else}}
            <h4>{{{header1}}}</h4>
          {{/hidden-at-first}}
        {{/with}}
      {{else}}
        <h4>{{header0}}</h4>
      {{/hidden-at-first}}
    {{/with}}
  {{/liquid-spacer}}
</div>

